/**============================================
 * PowerToCSS Standard Theme
 * Author: Hailton Silva - http://hailton.com
 * MIT Licence - Copyright 2014 | PowerToWeb
 * http://powertoweb.com/powertocss
 ==============================================*/
/* ==========================
 * OVERRIDES
 * ============================*/
.nav-custom li a {
  color: #fff;
  background: #5d99b4;
}
.nav-custom li a:hover {
  color: rgba(255, 255, 255, 0.65);
}
.nav-custom,
.nav-custom li:hover,
.nav-custom li.active {
  background: #5d99b4;
}
cite {
  background: rgba(95, 157, 187, 0.16);
  color: rgba(27, 111, 150, 0.7);
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.mega-octicon {
  background: rgba(16, 97, 135, 0.75);
  padding: 24px;
  border-radius: 30%;
  font-size: 64px !important;
  color: #fff;
}
/* ==========================
 * NEW STYLES
 * ============================*/
.header-powertocss {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}
.header-powertocss a:hover {
  text-shadow: none;
}
.header-powertocss .button {
  background-color: rgba(214, 227, 240, 0.78);
  color: #fff;
  border: 0 !important;
  text-shadow: none;
  padding: 8px 32px;
}
.quick-start {
  min-height: 100px;
  background-color: #e5e9ea;
  border: 1px solid #ede9e2;
  color: #548C9E;
  text-shadow: none;
  padding: 1em;
}
.quick-start .column3 {
  padding-right: 2em;
}
.quick-start .column9 {
  padding-left: 2em;
  border-left: 1px solid #eaeaea;
}
.quick-start code {
  background-color: #FFFFFF;
}
.quick-start a {
  color: #393C3F;
  text-decoration: underline;
}
.lead {
  color: #777;
  font-size: 1.3em;
  margin-bottom: 40px;
}
.pre-footer {
  margin-bottom: 0px;
  color: #3d6374;
  background-color: #5d99b4;
}
.blink {
  animation: blink 1.5s steps(2, start) infinite;
  -webkit-animation: blink 1.5s steps(2, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
