<footer id="footer">		
      <div class="row">
        <div class="grid-960">
          <p> Made in Lisbon by <a href="http://powertoweb.com" target="_blank">PowerToWeb</a><br>
          © 2009–2014 PowerToWeb. All rights reserved.
          </p>
        </div>
       </div>
</footer>