<div class="row pre-footer">
	<div class="grid-full">
		<div class="column6 padding32">
		  <h3 class=""><i>We get power from the best of the bests in order to provide it to you!</i></h3>
		  <small><i>Big thanks to HTML5 Boilerplate, Normalize.css, LESS and our daily Coffee!</i></small>
		</div>
		<div class="column6 padding16">
			<div class="row text-center"><p>Built on top of great open source technology</p>
			  <div class="row">
				  <div class="column4">
				    <img src="./img/html5boilerplate.svg" width="50" class="displayed">
				    <small> HTML5 Boilerplate</small>
				  </div>
				  <div class="column4">
				    <img src="./img/less.svg" width="110" class="displayed">
				    <small>less</small>
				  </div>
				  <div class="column4">
				    <br><img src="./img/normalize.svg" width="210" class="displayed">
				    <small>normalize</small>
				  </div>
			  </div>
			 
			</div>
		</div>
	</div>
</div>

<footer id="footer" class="text-center">
      <div class="row">
        <div class="grid-1200">
          <p><a href="./">Home</a> | <a href="https://github.com/powertoweb/powertocss" target="_blank" > Github</a> | <a href="https://github.com/powertoweb/powertocss/issues?milestone=none&state=open" target="_blank">Issues</a> | <a href="mailto:geral@powertoweb.com" target="_top">Join Us</a> <br>
          Created in Lisbon with <span class="octicon octicon-heart"></span> and some coffee by PowerToWeb<br>
          © 2014 PowerToWeb. Licensed under MIT license
          </p>
        </div>
       </div>
</footer>

<script src="./js/jquery-1.11.1.min.js"></script>
<script src="./js/nav-helper.js"></script>
<script src="./js/scripts.js"></script>