<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="PowerToCSS is a CSS Framework">
    <!-- Responsive tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    
    <title>PowerToCSS</title>

    <link rel="stylesheet" href="/css/powertocss.css">
    <% if(current.source !==('get-started', 'docs')) { %><link rel="stylesheet" href="/css/standard-theme.css"><% } %>
    <% if(current.source == 'index') { %><link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css"><% } %>
    
  </head>