<div class="grid-1200">
  <div class="row">
    <div class="column7 padding-left16">
      <h2 class="big bold">A versatile CSS <br>Framework. Simple, <br>light and <br>responsive!</h2>
      <a href="./docs"><button class="border-radius4" style="font-size:19px;">Get Started</button></a>
    </div>
    <div class="column5">
      <img src="./img/powertocss-mascot.svg" class="displayed">
    </div>
  </div>
</div>
<div class="grid-full quick-start">
  <div class="grid-1200">
    <div class="row">
      <div class="column3 text-right">
        <h2 class="bold">Quick<br><span class="blink">__</span>start</h2>
      </div>
      <div class="column9">
        <div class=" light"><p>Add the line of code bellow inside your HTML <code>head</code> tag or <a href="http://powertoweb.com/powertocss/starter-kit.zip">download the starter kit</a></p></div>
        <p><code>
           &lt;link rel="stylesheet" href="http://powertoweb.com/powertocss/css/powertocss.css"&gt;
        </code></p>
        <div class=" light">
          <a href="./docs"><button class="button-blue border-radius4">Read the documentation</button></a> to get more details
        </div>
      </div>
    </div>
  </div>
</div>
