<div class="grid-960">
  <div class="row">
    <div class="column7">
      <h2 class="big bold">A versatile CSS <br>Framework. Simple, <br>light and <br>responsive!</h2>
    </div>
    <div class="column5">
      <div class="text-center">
        <img src="./img/powertocss-logo-icon.png">
      </div>
    </div>
  </div>
</div>
<div class="grid-full quick-start text-center">
  <div class="grid-960">
    <div class="row">
      <h2 class="big bold">Quick start</h2>
      <p>To really quick start using PowerToCSS, just add these two line of code inside your `HEAD` tag and you are good to go:</p>
      <p>
        <code>

          &lt;link rel="stylesheet" href="LINK_TO//powertocss.css"&gt; <br>

          &lt;link rel="stylesheet" href="LINK_TO//standard-theme.css"&gt;
        </code></p>
      
      <p class="big bold">More details? Sure: 
        <a href="./docs"><button class="button-blue">Get Started</button></a>
      </p>
    </div>
  </div>
</div>