<div class="grid-1200 demo text-center bold">
	<h1>1200 Grid</h1>

	<div class="row">
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8 end"><span class="demo">.column2</span></div>
	</div>

	<div class="row">
		<div class="column5 padding0_8"><span class="demo">.column5</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column5 padding0_8 end"><span class="demo">.column5</span></div>
	</div>

	<div class="row">
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column6 padding0_8"><span class="demo">.column6</span></div>
		<div class="column3 padding0_8 end"><span class="demo">.column3</span></div>
	</div>

</div>


<div class="grid-full demo text-center bold">
	<h1>Full Page Grid</h1>

	<div class="row">
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8 end"><span class="demo">.column2</span></div>
	</div>

	<div class="row">
		<div class="column5 padding0_8"><span class="demo">.column5</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column5 padding0_8 end"><span class="demo">.column5</span></div>
	</div>

	<div class="row">
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column6 padding0_8"><span class="demo">.column6</span></div>
		<div class="column3 padding0_8 end"><span class="demo">.column3</span></div>
	</div>

</div>




<div class="grid-960 demo text-center bold">
	<h1>960 Grid</h1>

	<div class="row">
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column2 padding0_8 end"><span class="demo">.column2</span></div>
	</div>

	<div class="row">
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column3 padding0_8 end"><span class="demo">.column3</span></div>
	</div>

	<div class="row">
		<div class="column4 padding0_8"><span class="demo">.column4</span></div>
		<div class="column4 padding0_8"><span class="demo">.column4</span></div>
		<div class="column4 padding0_8 end"><span class="demo">.column4</span></div>
	</div>

	<div class="row">
		<div class="column5 padding0_8"><span class="demo">.column5</span></div>
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column5 padding0_8 end"><span class="demo">.column5</span></div>
	</div>

	<div class="row">
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column6 padding0_8"><span class="demo">.column6</span></div>
		<div class="column3 padding0_8 end"><span class="demo">.column3</span></div>
	</div>

	<h2>Nested Grid</h2>

	<div class="row">
		<div class="column7 padding0_8"><span class="demo">.column7</span></div>
		<div class="column5 padding0_8 end">
			<div class="row">
				<div class="column6 padding0_8"><span class="demo">.column6</span></div>
				<div class="column6 padding0_8 end"><span class="demo">.column6.end</span></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column6 padding0_8"><span class="demo">.column6</span></div>
		<div class="column6 padding0_8 end">
			<div class="row">
				<div class="column7 padding0_8"><span class="demo">.column7</span></div>
				<div class="column5 padding0_8 end"><span class="demo">.column5.end</span></div>
			</div>
		</div>
	</div>

	<h2>Using Spacers In-Between</h2>

	<div class="row">
		<div class="column4 padding0_8"><span class="demo">.column4</span></div>
		<div class="column4 padding0_8 end"><span class="demo">.column4.end</span></div>
	</div>

	<div class="row">
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column4 padding0_8"><span class="demo">.column4</span></div>
		<div class="column3 padding0_8 end"><span class="demo">.column3.end</span></div>
	</div>


</div>


<div class="grid-640 demo text-center bold" role="main">

	<h1>640 Grid</h1>

	<div class="row">
		<div class="column12 padding0_8 end"><span class="demo">.column12.end</span></div>
	</div>

	<div class="row">
		<div class="column2 padding0_8"><span class="demo">.column2</span></div>
		<div class="column10 padding0_8 end"><span class="demo">.column10.end</span></div>
	</div>

	<div class="row">
		<div class="column3 padding0_8"><span class="demo">.column3</span></div>
		<div class="column9 padding0_8 end"><span class="demo">.column9.end</span></div>
	</div>

	<div class="row">
		<div class="column4 padding0_8"><span class="demo">.column4</span></div>
		<div class="column8 padding0_8 end"><span class="demo">.column8.end</span></div>
	</div>

	<div class="row">
		<div class="column5 padding0_8"><span class="demo">.column5</span></div>
		<div class="column7 padding0_8 end"><span class="demo">.column7.end</span></div>
	</div>

</div>

<div class="grid-320 demo text-center bold" role="main">

	<h1>320 Grid</h1>

	<div class="row">
		<div class="column6 padding0_8"><span class="demo">.column6</span></div>
		<div class="column6 padding0_8 end"><span class="demo">.column6.end</span></div>
	</div>

	<div class="row">
		<div class="column7 padding0_8"><span class="demo">.column7</span></div>
		<div class="column5 padding0_8 end"><span class="demo">.column5.end</span></div>
	</div>

	<div class="row">
		<div class="column8 padding0_8"><span class="demo">.column8</span></div>
		<div class="column4 padding0_8 end"><span class="demo">.column4.end</span></div>
	</div>

	<div class="row">
		<div class="column9 padding0_8"><span class="demo">.column9</span></div>
		<div class="column3 padding0_8 end"><span class="demo"><small>.column3.end</small></span></div>
	</div>

</div>